@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

html,
body,
section {
	block-size: 100%;
}

html {
	scroll-snap-type: y mandatory;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
}

h1 {
	font: 400 36px/44px Google Sans, -apple-system, BlinkMacSystemFont,
		sans-serif;
	letter-spacing: normal;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;

	display: flex;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(1) {
	color: white;
	background: black;
}

section:nth-of-type(2) {
	color: black;
	background: white;
}

section:nth-of-type(3) {
	color: white;
	background: black;
}

section:nth-of-type(4) {
	color: black;
	background: white;
}
section:nth-of-type(5) {
	color: white;
	background: black;
}
