@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,400a;1,400&display=swap");

:root {
	--color-1: #F8A1D7;
	--color-2: #F8A1D7;
	--color-3: #F8A1D7;
	--color-4: #F8A1D7;
	--color-5: #F8A1D7;

}
html {
	background: white;
	block-size: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif !important;
	color: white;
	margin: 0;
	background: #F8A1D7;
	block-size: 100%;
	// Scroll
	scroll-snap-type: y proximity;
	scroll-padding-top: 15vh;
	overflow-y: scroll;
  }

section {
	block-size: 100%;
	margin: 0 auto;
	background-color: #F8A1D7;
	scroll-snap-align: start;
}

.container {
	margin: 0 auto;
}

h1 {
	font-size: 4rem;
	font-weight: 400;
	display: block;
}

h2 {
	font-size: 1rem;
	font-weight: 400a;
	display: block;
}

h3 {
	font-size: 0,5rem;
	font-weight: 400a;
	display: block;
}

{
	font-size: 0,2rem;
	font-weight: 400a;
	display: block;
}

p {
	display: block;
}

/* section:nth-of-type(1) {
	color: white;
	background: var(--color-1);
}

section:nth-of-type(2) {
	color: black;
	background: var(--color-2);
}

section:nth-of-type(3) {
	color: white;
	background: var(--color-3);
}

section:nth-of-type(4) {
	color: black;
	background: var(--color-4);
}
section:nth-of-type(5) {
	color: white;
	background: var(--color-5);
} */
*::-webkit-scrollbar {
    width: 16px
}

*::-webkit-scrollbar-track {
    rgba(255, 255, 255, 0.2)
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 32px
}