# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
Studio/style.css
Studio/Maxime Bories.bsdesign
Studio/Maxime Bories 3.bsdesign
Studio/Maxime Bories 2.bsdesign
Studio/Maxime Bories 2
Studio/main.js
Studio/index.html
Studio/assets/js/stylish-portfolio.js
Studio/assets/img/yellow-pixel.jpg
Studio/assets/img/portfolio-4.jpg
Studio/assets/img/portfolio-3.jpg
Studio/assets/img/portfolio-2.jpg
Studio/assets/img/portfolio-1.jpg
Studio/assets/img/bg-masthead.jpg
Studio/assets/img/bg-callout.jpg
Studio/assets/fonts/Simple-Line-Icons.woff2
Studio/assets/fonts/Simple-Line-Icons.woff
Studio/assets/fonts/Simple-Line-Icons.ttf
Studio/assets/fonts/Simple-Line-Icons.svg
Studio/assets/fonts/simple-line-icons.min.css
Studio/assets/fonts/Simple-Line-Icons.eot
Studio/assets/fonts/FontAwesome.otf
Studio/assets/fonts/fontawesome-webfont.woff2
Studio/assets/fonts/fontawesome-webfont.woff
Studio/assets/fonts/fontawesome-webfont.ttf
Studio/assets/fonts/fontawesome-webfont.svg
Studio/assets/fonts/fontawesome-webfont.eot
Studio/assets/fonts/font-awesome.min.css
Studio/assets/css/untitled.css
Studio/assets/bootstrap/js/bootstrap.min.js
Studio/assets/bootstrap/css/bootstrap.min.css
Studio/.style.json.icloud
Studio/style.css
Studio/Maxime Bories.bsdesign
Studio/Maxime Bories 3.bsdesign
Studio/Maxime Bories 2.bsdesign
Studio/Maxime Bories 2
Studio/main.js
Studio/index.html
Studio/assets/js/stylish-portfolio.js
Studio/assets/img/yellow-pixel.jpg
Studio/assets/img/portfolio-4.jpg
Studio/assets/img/portfolio-3.jpg
Studio/assets/img/portfolio-2.jpg
Studio/assets/img/portfolio-1.jpg
Studio/assets/img/bg-masthead.jpg
Studio/assets/img/bg-callout.jpg
Studio/assets/fonts/Simple-Line-Icons.woff2
Studio/assets/fonts/Simple-Line-Icons.woff
Studio/assets/fonts/Simple-Line-Icons.ttf
Studio/assets/fonts/Simple-Line-Icons.svg
Studio/assets/fonts/simple-line-icons.min.css
Studio/assets/fonts/Simple-Line-Icons.eot
Studio/assets/fonts/FontAwesome.otf
Studio/assets/fonts/fontawesome-webfont.woff2
Studio/assets/fonts/fontawesome-webfont.woff
Studio/assets/fonts/fontawesome-webfont.ttf
Studio/assets/fonts/fontawesome-webfont.svg
Studio/assets/fonts/fontawesome-webfont.eot
Studio/assets/fonts/font-awesome.min.css
Studio/assets/css/untitled.css
Studio/assets/bootstrap/js/bootstrap.min.js
Studio/assets/bootstrap/css/bootstrap.min.css
Studio/.style.json.icloud
html/service.html
html/index.html
html/contact.html
html/blog.html
html/blog-details.html
html/about.html
favicon.ico
.gitignore 2
.gitattributes 2
app.js
assets/css/bootstrap.css
assets/css/maicons.css
assets/css/main.css
assets/css/scrollbar.css
assets/css/theme.css
assets/fonts/maicons.eot
assets/fonts/maicons.svg
assets/fonts/maicons.ttf
assets/fonts/maicons.woff
assets/img/blog/blog-1.jpg
assets/img/blog/blog-2.jpg
assets/img/blog/blog-3.jpg
assets/img/blog/blog-4.jpg
assets/img/blog/blog-5.jpg
assets/img/blog/blog-6.jpg
assets/img/maxime-bories.svg
assets/img/person/person_1.jpg
assets/img/person/person_2.jpg
assets/img/person/person_3.jpg
assets/img/person/person_4.jpg
assets/img/services/service-1.svg
assets/img/services/service-2.svg
assets/img/services/service-3.svg
assets/js/bootstrap.bundle.min.js
assets/js/google-maps.js
assets/js/jquery-3.5.1.min.js
assets/js/theme.js
assets/vendor/animate/animate.css
assets/vendor/wow/wow.min.js
assets/css/bootstrap.css
assets/css/maicons.css
assets/css/main.css
assets/css/scrollbar.css
assets/css/theme.css
assets/fonts/maicons.eot
assets/fonts/maicons.svg
assets/fonts/maicons.ttf
assets/fonts/maicons.woff
assets/img/blog/blog-1.jpg
assets/img/blog/blog-2.jpg
assets/img/blog/blog-3.jpg
assets/img/blog/blog-4.jpg
assets/img/blog/blog-5.jpg
assets/img/blog/blog-6.jpg
assets/img/maxime-bories.svg
assets/img/person/person_1.jpg
assets/img/person/person_2.jpg
assets/img/person/person_3.jpg
assets/img/person/person_4.jpg
assets/img/services/service-1.svg
assets/img/services/service-2.svg
assets/img/services/service-3.svg
assets/js/bootstrap.bundle.min.js
assets/js/google-maps.js
assets/js/jquery-3.5.1.min.js
assets/js/theme.js
assets/vendor/animate/animate.css
assets/vendor/wow/wow.min.js
Studio/.style.json.icloud
Studio/assets/bootstrap/css/bootstrap.min.css
Studio/assets/bootstrap/js/bootstrap.min.js
Studio/assets/css/untitled.css
Studio/assets/fonts/font-awesome.min.css
Studio/assets/fonts/fontawesome-webfont.eot
Studio/assets/fonts/fontawesome-webfont.svg
Studio/assets/fonts/fontawesome-webfont.ttf
Studio/assets/fonts/fontawesome-webfont.woff
Studio/assets/fonts/fontawesome-webfont.woff2
Studio/assets/fonts/FontAwesome.otf
Studio/assets/fonts/Simple-Line-Icons.eot
Studio/assets/fonts/simple-line-icons.min.css
Studio/assets/fonts/Simple-Line-Icons.svg
Studio/assets/fonts/Simple-Line-Icons.ttf
Studio/assets/fonts/Simple-Line-Icons.woff
Studio/assets/fonts/Simple-Line-Icons.woff2
Studio/assets/img/bg-callout.jpg
Studio/assets/img/bg-masthead.jpg
Studio/assets/img/portfolio-1.jpg
Studio/assets/img/portfolio-2.jpg
Studio/assets/img/portfolio-3.jpg
Studio/assets/img/portfolio-4.jpg
Studio/assets/img/yellow-pixel.jpg
Studio/assets/js/stylish-portfolio.js
Studio/index.html
Studio/main.js
Studio/Maxime Bories 2
Studio/Maxime Bories 2.bsdesign
Studio/Maxime Bories 3.bsdesign
Studio/Maxime Bories.bsdesign
Studio/style.css
