/* To be delivered on site as to avoid opening a TCP to our friends at Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--background-color-1: #d9ddf6;
	--background-color-2: #a9d4e3;
	--background-color-3: #b2e4c6;
	--background-color-4: #e7d7a8;
	--background-color-5: #e8b99f;
	--background-color-6: #e8b0a3;
	--background-color-7: #c9c9c9;

	--foreground-color: #fff;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Open-Sans", sans-serif;
	font-size: 3em;
	font-weight: 600;
	color: var(--foreground-color);
	text-shadow:
		0 1px 0 #cccccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0, 0, 0, 0.1),
		0 0 5px rgba(0, 0, 0, 0.1),
		0 1px 3px rgba(0, 0, 0, 0.3),
		0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);
}

p {
	max-width: 90%;
	font-size: 1em;
}

monotext {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	vertical-align: middle;
}

a {
	color: inherit;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100vh;
}

.split {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

section:nth-of-type(1) {
	background: var(--background-color-1);
}

section:nth-of-type(2) {
	background: var(--background-color-2);
}

section:nth-of-type(3) {
	background: var(--background-color-3);
}

section:nth-of-type(4) {
	background: var(--background-color-4);
}

section:nth-of-type(5) {
	background: var(--background-color-5);
}

section:nth-of-type(6) {
	background: var(--background-color-6);
}

.splitter {
	flex-basis: 80vw;
}

/* More on custom scrollbars at https://ishadeed.com/article/custom-scrollbars-css/ */

/*::-webkit-scrollbar {
	width: .4em;
}

::-webkit-scrollbar-track {
	background: #d9d9d9;
	opacity: 20%;
}

::-webkit-scrollbar-thumb {
	background: #ffffff;
}

::-moz-range-track {
	width: .4em;
}

::-moz-scrollbar-track {
	background: #d9d9d9;
	opacity: 20%;
}

::-moz-scrollbar-thumb {
	background: #ffffff;
}*/